.App {
  width: 500px;
  height: 600px;
  /* background-color: #4a4a4a; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.picker-container {
  box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.74);
  background-color: transparent;
  border-radius: 8px;
  border: none;
}

.picker-container aside.EmojiPickerReact.epr-main {
  border: none;
}
